<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="customize.css, normalize.css, customize css, normalize css, css framework, bootstrap, twitter bootstrap, zurb, zurb foundation">

    <link rel="stylesheet" href="{{ "{{ site.github.url }}/css/main.css" }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="NxK9HZLzdJq_Lq2bEbIWz95qADwm3LjBEPHhI6CpW2U" />
</head>
