label {
  display: block;
}

.half {
  display: inline-block;
  width: 48%;
  padding: 1%;
  box-sizing: border-box;
  vertical-align: top;
}

@media screen and (max-width: 500px) {

  .half {
    width: 100%;
  }

}
